<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
AuthUserFile /root/.htpasswd
AuthGroupFile /dev/null
AuthName "Realm-test"
AuthType Basic
require valid-user 
ErrorDocument 401 /17/rejection.html
order deny,allow


